/*
  ========================================
  Preliminary Declarations & Reset
  ========================================
*/
a {
  text-decoration: none;
  color: #222222;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    /* Typography Declarations */
    margin: 0 0;
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.masthead-content,
.content-footer {
    text-align: center;
}

/*
  ========================================
  Navigation Section
  ========================================
*/

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #DDD;
}
.top-navigation .content {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    overflow: hidden;
}
.top-navigation .links {
    list-style: none;
    text-align: center;
    margin: 1.2em 0 0 0;
    letter-spacing: 0.05em;
    padding: 0;
}
.top-navigation .links li {
     display: inline-block;
}
.top-navigation .links a {
  display: inline-block;
  margin-left: 1.5em;
  color: #838994;
}
.top-navigation .links .active a {
  margin: 0;
  font-weight: 600;
  color: #4c5058;
}
.top-navigation .links a:hover {
  cursor: pointer;
  color: #333333;
}
/*
  ========================================
  Masthead Section
  ========================================
*/
.masthead {
    background-image:     url('https://unsplash.imgix.net/photo-1419064642531-e575728395f2?q=75&fm=jpg&s=490dffe2e11f468947891ab40651e176');  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6em 0 4em 0;
    overflow: auto;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
    color: #FFFFFF;
}

.masthead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FBF6F1;
    text-shadow: 0px 0.04em 1px #D7A977;
}
.masthead-content {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
    color: #FFFFFF;
    text-shadow: 0px 0.04em 1px #D7A977;
}
.introduction-section,
.location-section,
.questions-section,
.projects-intro,
.hack-times,
.karma {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.social li {
  display: inline-block;
  margin: 0 0.5em;
}

.introduction-section > p,
.location-section > p,
.content-footer > p,
.questions-section p,
.projects-intro p,
.hack-times p,
.karma p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic",      Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
  color: #00395A;
}

section > h1 {
    margin-top: 2em;
}
.content-footer p {
 color: white;
}

.content-footer a {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-weight: bold;
  color: #00A2D8;
  text-decoration: none;
  letter-spacing: 0.01em;
}

.content-footer {
  background-color: #002522;
  padding: 2.5em 0;
  margin-top: 3em;
}

/*
  ========================================
  Projects Intro
  ========================================
*/

.projects-intro {
  margin-top: 0;
  padding-top: 6em;
  overflow: auto;
}

/*
  ========================================
  Projects
  ========================================
*/

.hack-times,
.karma {
  max-width: 60em;
  padding: 1em 1em;
  border: 0.2em solid #00395A;
  border-radius: 2em;
}
.hack-times h1, 
.karma h1 {
  margin-top: 1em;
}

/*
  ========================================
  Responsive Parameters
  ========================================
*/

@media only screen and (max-width: 800px) {
  .introduction-section,
  .location-section,
  .questions-section {
    padding: 0 0.5em;
  }
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 1.5em 0;
    }
    .masthead-intro {
      margin-top: 2em;
    }
  }

